*.o
*.py
*.out
*~
*.save
*.sh
*.DS_Store
include/*.DS_Store
samples/*.DS_Store
src/*.DS_Store
tests/*.DS_Store
../*.DS_Store
../labs/*.DS_Store
project/*.DS_Store
*.pyc
../.DS_Store
/samples/*.dslup1
/samples/*.dslup2
/samples/*.dslup3
/samples/forest_loss_v2.cc
/samples/my_code_1.cc
/samples/my_code_2.cc
/samples/sample_1.cc
/samples/sample_2.cc
/samples/sample_3.cc
/samples/sample_4.cc
/samples/sample_5.cc
/samples/sample_6.cc
/samples/sample_7.cc
/samples/sample_8.cc
