*.o
*.py
*.out
*~
*.save
*.sh
*.DS_Store
include/*.DS_Store
samples/*.DS_Store
src/*.DS_Store
tests/*.DS_Store
../*.DS_Store
../labs/*.DS_Store
project/*.DS_Store
*.pyc
../.DS_Store
/samples/*.dslup1
/samples/*.dslup2
/samples/*.dslup3
